body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(197, 231, 214);
}

.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.curr-size {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    font-style: italic;
    font-size: 15px;
}

/*Buttons style*/
.canvas, .size {
    display: flex;
    padding: 3px;
}

input {
    width: 100px;
    color: black;
    margin-right: 3px;
}

button {
    margin: 0 3px 0 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

/*Etch a sketch container border*/
.sketch-container{
    display: flex;
    flex-direction: column;
    border: 10px solid gray;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

.grid-row {
    display: flex;
    height: 100%;
}

.block {
    display: flex;
    width: 100%;
    background-color: lightgray;
    border-radius: 3px;
}

button.black-btn {
    border: solid black 3px;
}

button.black-btn:active {
    border: solid black 3px;
    background-color: gray;
}

button.blue-btn {
    border: solid blue 3px;
    color: blue;
}

button.blue-btn:active {
    border: solid blue 3px;
    color: blue;
    background-color: gray;
}

button.red-btn {
    border: solid red 3px;
    color: red;
}

button.red-btn:active {
    border: solid red 3px;
    color: red;
    background-color: gray;
}

button.rnbw-btn {
    border: 3px solid white;
}

button.rnbw-btn:active {
    border: solid gray 3px;
    background-color: gray;    
}

button.erase-btn {
    border: solid white 3px;
}

button.erase-btn:active {
    border: solid gray 3px;
    background-color: gray;
}

button.clear-btn {
    border: solid white 3px;
}

button.clear-btn:active {
    border: solid gray 3px;
    background-color: gray;
}

.size-button {
    border: solid black 3px;
}

.size-button:active {
    border: solid black 3px;
    background-color: gray;
}